.card {
  box-sizing: border-box;
  margin: 20px;
  width: 260px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed green;
  background-color: rgb(70, 70, 70);
  border-radius: 25px;
  /* height: 280px; */
  /* flex-wrap: wrap; */
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* background-color: rgba(0, 128, 0, 0.39); */
  /* width: 200px; */
}

.image-box .github {
  visibility: hidden;
}

.image-box:hover .github {
  visibility: visible;
}

.image-box .netlify {
  visibility: hidden;
}

.image-box:hover .netlify {
  visibility: visible;
}

.github,
.netlify {
  position: relative;
  top: 50%;
  margin: 0 15px;
}

.github:hover .proj-img .netlify:hover {
}

.proj-img {
  height: 180px;
  width: 260px;
  /* width: auto; */
  object-fit: contain;
  box-shadow: inset -3px -3px 12px -4px rgba(0, 0, 0, 0.9);
  filter: grayscale(0%);
  transition: all 0.5s ease;
}

.proj-img:hover,
.proj-img:active {
  filter: grayscale(100%);
  opacity: 30%;
}

.netlify:hover .proj-img {
  filter: grayscale(100%);
  opacity: 30%;
}

.github:hover .proj-img {
  filter: grayscale(100%);
  opacity: 30%;
}

.name {
  font-family: 'Silkscreen';
  color: white;
  width: auto;
  font-size: 1.4rem;
  margin: -30px auto;
  font-weight: 600;
  text-align: justify;
}

.desc {
  font-family: 'Inconsolata';
  color: white;
  text-align: justify;
  width: 235px;
}

.github-icon,
.netlify-icon {
  height: 50px;
  width: auto;
  position: relative;
  z-index: 2;
}