html,
body {
  margin: 0;
  padding: 0;
}

.greeting {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  color: rgb(75, 75, 75);
  background-color: #47e6ff;
  height: 100%;
  padding-top: 340px;
  /* flex-wrap: wrap; */
  /* width: 50%; */
  /* margin-left: 420px; */
  margin-top: 250px;
  /* height: 85vh; */
  padding-left: 20px;
  padding-right: 20px;
  width: 120px;
}

.hi {
  color: #ff8757;
  margin-bottom: 0;
}
.my {
  margin: 0 auto;
  font-size: 1.1rem;
  margin-bottom: 35px;
}
.ryan {
  font-family: 'Silkscreen';
  background-color: rgb(243, 243, 243);
  color: var(--reddish);
  font-size: 1.5rem;
  border-radius: 5px;
  /* border: 0.5px solid grey; */
  padding: 5px;
  margin-bottom: 35px;
  box-shadow: 0 0 26px 12px;
}

.ryan:hover {
  font-size: 1.6rem;
  color: var(--pink);
}

.dev {
  font-size: 1.2rem;
  font-family: 'Kanit';
  margin-top: 25px;
}

.apps {
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Kanit';
  margin-top: 25px;
}

.creative {
  /* word-break: break-all; */
  word-wrap: break-word;
  /* width: 180px; */
  /* box-shadow: 0 0 12px -1px  */
  color: #ff8757;
}

#c {
  color: #ff918e;
}

#s {
  color: #ff7a75;
}

#d {
  color: var(--reddish);
}

/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-align: center;
  margin: 10px auto; 
} */

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.4rem;
}

/* 
.ryan {
  margin-left: 20px;
}
*/

.header-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 15;
  position: fixed;
  top: 220px;
}

.header-link {
  margin: 5px;
  /* top: 0; */
  /* right: 0; */
  /* float: right; */
}

.logo-img {
  height: 30px;
  width: auto;
  margin: 10px;
  z-index: 5;
}

.logo-img:hover {
  scale: 1.2;
}

.logo-img:active {
  scale: 0.98;
}
