html,
body {
  margin: 0;
  padding: 0;
}

.greeting {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  color: rgb(75, 75, 75);
  background-color: #47e6ff;
  height: 100%;
  padding-top: 340px;
  /* flex-wrap: wrap; */
  /* width: 50%; */
  /* margin-left: 420px; */
  margin-top: 250px;
  /* height: 85vh; */
  padding-left: 20px;
  padding-right: 20px;
  width: 120px;
}

.hi {
  color: var(--orange);
  margin-bottom: 0;
}
.my {
  margin: 0 auto;
  font-size: 1.1rem;
  margin-bottom: 35px;

}
.ryan {
  font-family: 'Silkscreen';
  background-color: rgb(243, 243, 243);
  color: var(--reddish);
  font-size: 1.5rem;
  border: 0.5px solid grey;
  padding: 5px;
  margin-bottom: 35px;
}
.dev {
  font-size: 1.2rem;
  font-family: 'Kanit';
  margin-top: 30px;
}
.apps {
  font-size: 1.4rem;
  font-family: 'Gemunu Libre';
  margin-top: 35px;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-align: center;
  margin: 10px auto; 
} */

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.4rem;
}

/* 
.ryan {
  margin-left: 20px;
}
*/

.header-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 15;
  position: fixed;
  top: 220px;
}

.header-link {
margin: 5px;
/* top: 0; */
/* right: 0; */
/* float: right; */
}

.logo-img {
  height: 30px;
  width: auto;
  padding: 10px;
  z-index: 5;
}
