.stack {
    height: 100vh;
    background-color: rgb(97, 97, 97);
    padding-top: 40px;
}

.head {
    color: rgb(97, 45, 104);
}

.items {
    padding-top: 30px;
}

.frame {

}

.db {

}

.tools {

}

ul {
    list-style-type: none;
}